body {
    background-color: black;
    margin: 0px;
}

@font-face {
  font-family: 'MinecraftRegular-Bmg3';
  src: url('MinecraftRegular-Bmg3.otf') format('opentype');
  font-style: normal;
}

.my-text {
  font-family: 'MinecraftRegular-Bmg3', sans-serif;
  color: rgb(178, 96, 255);
  text-align: center;
}

a {
      color: rgb(190, 120, 255);
      font-size: 40px;
      
}

.center {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
